apiVersion: v1
kind: Service
metadata:
  name: rest-jscreditscore-svc
  labels:
    app: rest-jscreditscore
    commit: ${WERCKER_GIT_COMMIT}  
spec:
  selector:
    app: rest-jscreditscore
    commit: ${WERCKER_GIT_COMMIT} 
  ports:
    - port: 8088
      targetPort: 3000
  type: LoadBalancer
